<div class="containrer-fluid">
    <div class="heading">
        <h1>Welcome to Angular dashboard!
          <a (click)="signout()" style="float: right">Logout
          </a>
        </h1>    
      </div>
  <div class="row box">
    <div class="col-sm-2 col-md-2 col-xl-2 left">
      <app-user (selectedUser)="onSelect($event)"></app-user>
    </div>
    <div class="col-sm-8 col-md-8 col-xl-8 middle">
        <app-message [messageObj]="currentSelected"></app-message>
      </div>
    <div class="col-sm-2 col-md-2 col-xl-2 right">
      <app-circle (selectedCircle)="onSelect($event)"></app-circle>
    </div>
  </div>
  </div>