
.container {
  background-image: url(../../assets/bg.jpg);
  padding-block-start: 0%;
  padding-block-end: 100%;
  background-size: cover;
}
.login {   
    overflow: hidden;
    position: absolute;
    width: 470px;
    top: 30%;
    left: 35%;
}

.login .input-group-user {
  border: 1px solid blanchedalmond;
  background: aliceblue;
  padding: 8px 18px;
  border-radius: 0;
  color: rgb(25, 0, 255);
  font-size: 28px;
  line-height: 20px;
}

.login .input-group-addon {
  border: 1px solid blanchedalmond;
  background: aliceblue;
  padding: 6px 20px;
  border-radius: 0;
  color: red;
  font-size: 36px;
  line-height: 25px;
}
.form-control {
    font-size: 16px;
    height: 50px;
    border-radius: 1;
    color: darkblue;
    border: 1px solid blanchedalmond;
    line-height: 24px;
    
}
.btn-green {
  background-color:rgba(71, 251, 26, 0.959);
  color: aliceblue;
  width: 100%;
}
 .btn {
   padding-left: 0%;
 }
.btn-blue {
  background-color: rgb(0, 132, 255);
  color: aliceblue;
  width: 100%;
}